$header-height: 10vh;

.App {
  text-align: center;

  .container {
    margin: 0 auto;
    height: 100%;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: .5fr 3fr 1fr .5fr;
  }
}

.App-header {
  background-color: #282c34;
  min-height: $header-height;
  display: flex;
  align-items: center;  
  color: white;

  .headerContainer {
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    width: 80vw;
  }
  
  .brand {
    font-size: calc(#{$header-height} * .4);
  }
  
  .menu{
    .items {
      display: flex;
      list-style: none;
      a {
        text-decoration: none;
        color: #ffffff;
      }
      .item {
        padding: 0 1rem;
      }
    }
  } 
}


.main {
  grid-column-start: 2;
  grid-column-end: 3;
}

.linkQuote {
  grid-column-start: 3;
  grid-column-end: 4;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.footer {
  margin: 0 auto;
  background-color: aliceblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
